@import "tw-animate-css";
@import "shadcn-svelte/tailwind.css";
@import "@fontsource-variable/inter";

@theme {
  --font-sans: 'Inter Variable', sans-serif;
}

@layer base {
  body {
    background-color: #020617; /* slate-950 */
    color: #f8fafc; /* slate-50 */
    font-family: var(--font-sans);
  }
}